<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--    <script type="text/javascript" src="js/actions.js"></script>-->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>

<body>
<div class="ui three column grid" style="margin-top: 3%">
<!--    <div class="column">-->
<!--        <div class="ui fluid card">-->
<!--            <div class="content">-->
<!--                <a href="/create-player">Create player</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--        <div class="ui fluid card">-->
<!--            <div class="content">-->
<!--                <a href="/create-game">Create game</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <a href="/play-game">Play Game</a>
            </div>
        </div>
    </div>
</div>


<div class="ui centered card" centered style="width: 30%">

    <div class="content" style="display:none">
        <p class="header" id="result">Create player</p>
        <div class="ui message" id="color">
            <i class="close icon"></i>
            <div class="header" id="response">
                Your user registration was successful.
            </div>
        </div>
    </div>

    <form class="ui form" >
        <div class="field" style="margin: 10%">
            <label>Player Name</label>
            <input type="text" id="first-name" name="first-name" placeholder="First Name">
        </div>

        <button class="ui button" type="button" th:onclick="showAlert()" id="create" style="margin: 10%">Create</button>
    </form>

</div>

</body>
</html>